<!-- custom styles, preload scripts, custom meta tags -->
<style>
    body {
        scrollbar-width: thin;
        scrollbar-color: #8875F8 transparent;
    }

    body::-webkit-scrollbar {
        width: 8px;
    }

    body::-webkit-scrollbar-track {
        background-color: transparent;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #8875F8;
        border-radius: 30px;
    }

    .aside {
        scrollbar-width: thin;
        scrollbar-color: #8875F8 transparent;
    }
    .aside::-webkit-scrollbar {
        width: 8px;
    }

    .aside::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .aside::-webkit-scrollbar-thumb {
        background-color: #8875F8;
        border-radius: 30px;
    }
</style>